body {
    font-family: Arial, sans-serif;
}
nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}
nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}
.container {
    padding: 2rem;
}

.post img {
    max-width: 100%;
    height: auto;
}
.error {
    color: red;
}
.navbar {
    margin-bottom: 20px;
}
.post img {
    width: 100%;
    height: auto;
}
.navbar-nav .nav-link .fas {
    color: #333;  /* This makes sure the icon inherits the color of its parent */
    margin-right: 5px;  /* Add some spacing between the icon and the text */
}

.navbar-nav .nav-link .badge {
    color: #333;
    margin-left: 5px;  /* Add some spacing between the text and the badge */
}