{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Notifications</h1>
        <ul class="list-group">
            {% for notification in notifications %}
            <li class="list-group-item">
                {{ notification.data }}
                <small class="text-muted">
                    {% if notification.timestamp %}
                    {{ notification.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}
                    {% else %}
                    No timestamp
                    {% endif %}
                </small>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
