{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Search</h2>
        <form method="POST" action="{{ url_for('main.search') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.query.label(class="form-label") }}
                {{ form.query(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>
{% endblock %}
