{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Send Message to {{ recipient }}</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.body.label(class="form-label") }}
                {{ form.body(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary mt-3">Send</button>
        </form>
    </div>
</div>
{% endblock %}
